$font:				'Segoe UI', sans-serif;
/*$primary-color:		#2C3C43;
$secondary-color:	#CD7E2C;
$third-color:		#285667;
$forth-color:		#2C3C43;
$font-color:		#BACCD5;*/


$primary-color:		#2C3C43;
$secondary-color:	#CD7E2C;
$third-color:		#285667;
$forth-color:		#2C3C43;
$font-color:		#BACCD5;